@import url(https://fonts.googleapis.com/css?family=Indie+Flower);

.titulo-sistema {
    font-family: 'Indie Flower', cursive;
    font-size: 30px;
    font-weight: bold;
    opacity: 0.3;
}

.my-stl {
    background: #cecece;
}

/* Estilo - Página de login */
#pagina-login {
    margin-top: 10%;
    border: 1px #ddd solid;
}

.my-panel {
    margin-top: 10px;
}

small.descricao {
    color: #6e6e6e;
}